@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat Alternates";
    src: url("/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}
